html{
    background-image: none;
}
body{
    color: #666666;
}
h2{
    margin-left: 1em;
}
.faq-card{
    margin: 0.5em 1em;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
}
.faq-card ul{
        padding-left: 0.8em;
    }
.faq-card ul>li{
    list-style: none;
    margin: 1em 0em;
    font-size: 1.2em;
    position: relative;
}
.faq-card li>a{
    padding-left: 2em;
}
.faq-card ul>li:before{
    left: 0;
    top: 0px;
    font-size: 22px;
    position: absolute;
    content: "\e6ff";
    font-family: Material-Design-Icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
    color: #757575;
}
.faq-card li>div{
    padding: 1em;
    max-width: 50em;
}
@media (min-width: 760px){
    .faq-card{
        margin: 1em 3em;
        padding: 1em;
    }
    h2{
        margin-left: 1.5em;
    }
}