{% extends "__base.html" %}
{% block stylesheets %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/faq.css" %}">
{% endblock stylesheets %}
{% block body %}
<div class="content-padder">
<h2>FAQ: Pickrr Services</h2>
<div class="faq-card">
  <h3>Website</h3>
  <ul>
    <li>
      <a data-toggle="collapse" href="#faq-1">Who are Pickrrs?</a>
      <div class="collapse" id="faq-1">
        Pickrrs are well trained pick-up boys who will make your shipping hassle-free and easy
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-2">What does Pickrr do?</a>
      <div class="collapse" id="faq-2">
        Pickrr provides on-demand shipping service to consumers.
      </div>
    </li>
  </ul>
</div>
<div class="faq-card">
  <h3>Orders</h3>
  <ul>
    <li>
      <a data-toggle="collapse" href="#faq-3">What is the price calculator shown on the website?</a>
      <div class="collapse" id="faq-3">
        The price calculator gives an estimate of the price that you will be charged based on the entered dimension by you. Real prices charged to you will change based on the measurements taken by our Pickrrs
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-4">How do I make the payment for the courier/shipping service?</a>
      <div class="collapse" id="faq-4">
        After placing the order, the Pickrrs will come and inspect the item to be shipped. Once the item is measured, the Pickrrs will provide you with the bill details. If you are satisfied with the amount, you can pay the money to the Pickrrs.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-5">How are the prices calculated?</a>
      <div class="collapse" id="faq-5">
        The prices are calculated based on the maximum of the volumetric weight and real weight.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-6">What is the volumetric weight of an item?</a>
      <div class="collapse" id="faq-6">
        The volumetric weight(in Kg) of an item is given by the formula – Length (in cm)XBreadth (in cm)XHeight (in cm)/5000
      </div>
    </li>
    <li>
      <a data-toggle="collapse"href="#faq-7"> Is there any weight limit for items to be delivered through Pickrr?</a>
      <div class="collapse" id="faq-7">
        At present we only provide delivery items with weight up to 40 kgs.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-8">  What should I do to place order for items more than 40 Kg?</a>
      <div class="collapse" id="faq-8">
        In case the item you need to deliver is more than 40 Kg call us at +91-9711031164 or write to us at info@pickrr.com. Our support team will get back to you with a solution.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-9"> Will I be provided with a bill of the amount paid to Pickrr?</a>
      <div class="collapse" id="faq-9">
        Yes you will be provided with a hard-copy of the bill of the transaction. Within 24 hours, you will also receive the tracking number of the item in your registered email-ID. Further, you will receive the invoive of amount paid within 24 hrs via text.
      </div>
    </li>
  </ul>
</div>
<div class="faq-card">
  <h3>Cancellation</h3>
  <ul>
    <li>
      <a data-toggle="collapse" href="#faq-10"> What is the cancellation policy?</a>
      <div class="collapse" id="faq-10">
        You can cancel an order if you want after placing an order.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-11">Is there any cancellation charge applicable?</a>
      <div class="collapse" id="faq-11">
        In case you cancel an order before the pick-up, no cancellation charge will be applicable. However, if you cancel the order after pickup of order, cancellation charges based on the rules of our partnered vendors will be available.
      </div>
    </li>
  <div class="faq-card">
    <h3>Website</h3>
    <ul>
      <li>
        <a data-toggle="collapse" href="#faq-1">Who are Pickrrs?</a>
        <div class="collapse" id="faq-1">
          Pickrrs are well trained pick-up boys who will make your shipping hassle-free and easy
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#faq-2">What does Pickrr do?</a>
        <div class="collapse" id="faq-2">
          Pickrr provides on-demand shipping service to consumers.
        </div>
      </li>
    </ul>
  </div>
  <div class="faq-card">
    <h3>Orders</h3>
    <ul>
      <li>
        <a data-toggle="collapse" href="#faq-3">What is the price calculator shown on the website?</a>
        <div class="collapse" id="faq-3">
          The price calculator gives an estimate of the price that you will be charged based on the entered dimension by you. Real prices charged to you will change based on the measurements taken by our Pickrrs
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#faq-4">How do I make the payment for the courier/shipping service?</a>
        <div class="collapse" id="faq-4">
          After placing the order, the Pickrrs will come and inspect the item to be shipped. Once the item is measured, the Pickrrs will provide you with the bill details. If you are satisfied with the amount, you can pay the money to the Pickrrs.
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#faq-5">How are the prices calculated?</a>
        <div class="collapse" id="faq-5">
          The prices are calculated based on the maximum of the volumetric weight and real weight.
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#faq-6">What is the volumetric weight of an item?</a>
        <div class="collapse" id="faq-6">
          The volumetric weight of an item is given by the formula – Length (in cm)XBreadth (in cm)XHeight (in cm)/5000
        </div>
      </li>
      <li>
        <a data-toggle="collapse"href="#faq-7"> Is there any weight limit for items to be delivered through Pickrr?</a>
        <div class="collapse" id="faq-7">
          At present we only provide delivery items with weight up to 20 kgs.
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#faq-8">  What should I do to place order for items more than 20 Kg?</a>
        <div class="collapse" id="faq-8">
          In case the item you need to deliver is more than 20 Kg call us at +91-9711031164 or write to us at info@pickrr.com. Our support team will get back to you with a solution.
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#faq-9"> Will I be provided with a bill of the amount paid to Pickrr?</a>
        <div class="collapse" id="faq-9">
          Yes you will be provided with a hard-copy of the bill of the transaction. Within 24 hours, you will also receive the tracking number of the item in your registered email-ID.
        </div>
      </li>
    </ul>
  </div>
  <div class="faq-card">
    <h3>Cancellation</h3>
    <ul>
      <li>
        <a data-toggle="collapse" href="#faq-10"> What is the cancellation policy?</a>
        <div class="collapse" id="faq-10">
          You can cancel an order if you want after placing an order.
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#faq-11">Is there any cancellation charge applicable?</a>
        <div class="collapse" id="faq-11">
          In case you cancel an order before the pick-up, no cancellation charge will be applicable. However, if you cancel the order after placing the order, cancellation charges based on the rules of our partnered vendors will be available.
        </div>
      </li>
    <!--
    <li>
      <a data-toggle="collapse" href="#faq-11">How can I cancel my order?</a>
      <div class="collapse" id="faq-11">

      </div>
    </li>
  -->
</ul>
</div>

<div class="faq-card">
  <h3>Pick-up</h3>
  <ul>
    <li>
      <a data-toggle="collapse" href="#faq-12">Will I be charged for the pick-up?</a>
      <div class="collapse" id="faq-12">
        The pick-up will be absolutely a free service offering from Pickrr. So enjoy and chose Pickrr.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-13">Can I schedule a pick-up for later on time?</a>
      <div class="collapse" id="faq-13">
        Yes, you can select pick-up for a future available time-slot  while scheduling the option. On a default basis, our Pickrrs will arrive within 60 mins.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-14">Can your Pickrrs refuse to pick-up any specific item?</a>
      <div class="collapse" id="faq-14">
        After inspection of the product, if our Pickrrs feel that the item is prohibited or illegal according to our rules and regulations, the item will not be eligible for delivery through Pickrr.
      </div>
    </li>
  </ul>
</div>
<div class="faq-card">
  <h3>Packaging</h3>
  <ul>
    <li>
      <a data-toggle="collapse" href="#faq-15">What are the charges for packaging?</a>
      <div class="collapse" id="faq-15">
        The packaging will be absolutely a free service offering from Pickrr. So enjoy and chose Pickrr.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-16">What if I have already packed an item to be shipped?</a>
      <div class="collapse" id="faq-16">
        For security reasons, our Pickrrs are strictly instructed to thoroughly inspect the item. So based on our discretion, Pickrrs may open the packaging to inspect the item.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-17"> Is the packaging safe?</a>
      <div class="collapse" id="faq-17">
        Our Pickrrs are thoroughly trained to provide you with the safest and optimized packing for your product.
      </div>
    </li>
  </ul>
</div>

<div class="faq-card">
  <h3>Delivery related queries</h3>
  <ul>
    <li>
      <a data-toggle="collapse" href="#faq-18">What if the item is damaged during the delivery?</a>
      <div class="collapse" id="faq-18">
        Pickrr ensures the best and safest delivery mode. However, in case your item gets damaged during the transit, we will return Rs 10,000 or the monetary value of the item whichever is lower.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-19">In what cases the items may not be delivered?</a>
      <div class="collapse" id="faq-19">
        In few cases, the items may not be delivered. Such cases include but are not restricted to:
        <ol>
          <li>Wrong delivery address</li>
          <li>Wrong contact details of recipient</li>
          <li>Recipient refused to receive the shipped item</li>
          <li>Recipient not present in the destination</li>
        </ol>
      </div>
    </li>
    <li>
      <a href="#faq-20">Where can I track my delivery?</a>
      <div class="collapse" id="faq-20">
        On the top of every page, there is a link for tracking. Just enter your tracking ID for tracking the progress of your shipment.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-21">Will be informed of the delivered shipment.</a>
      <div class="collapse" id="faq-21">
        At present you will be intimated of the successful delivery through an email to your registered email-ID and via text message on your provided phone number.
      </div>
    </li>
  </ul>
</div>
<div class="faq-card">
  <h3>Business Queries</h3>
  <ul>
    <li>
      <a data-toggle="collapse" href="#faq-22">Do Pickrr provide specific rates for business?</a>
      <div class="collapse" id="faq-22">
        Yes, Pickrr do provide specific rates for business based on its own policies.
      </div>
    </li>
    <li>
      <a data-toggle="collapse" href="#faq-23">How can business request for specific rates?</a>
      <div class="collapse" id="faq-23">
        To know about our business plans just call us at +91-9711031164 or write to us at info@pickrr.com with your business proposal. Our support team will get back to you.
      </div>
    </li>
  </ul>
</div>
</div>
{% endblock body %}