{% include "externalpriceapi/_calculate_price.html" %}
{% if service_type == 'Intracity' %}
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Rush Service (within 90 minutes):</h4>
    <p class="list-group-item-text">Rs. {{rush_price}}</p>
  </a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Premium Service (4-5 hrs):</h4>
    <p class="list-group-item-text">Rs. {{premium_price}}</p>
  </a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Standard Service (within 24 hrs):</h4>
    <p class="list-group-item-text">Rs. {{standard_price}}</p>
  </a>
</div>
{% else %}
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Rush Service (within 1 - 2 days):</h4>
    <p class="list-group-item-text">Rs. {{rush_price}}</p>
  </a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Premium Service (2-4 days):</h4>
    <p class="list-group-item-text">Rs. {{premium_price}}</p>
  </a>
</div>
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Standard Service (within 4-6 days):</h4>
    <p class="list-group-item-text">Rs. {{standard_price}}</p>
  </a>
</div>
{% endif %}