{% extends "__base.html" %}
{% block stylesheets %}
{% load static %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "icon/flaticon.css" %}">
{% endblock stylesheets %}
{% block body %}
<section id="landing">
  <div class="content-holder">
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-5" id="pickrr-heading">
          <div class="trend-heading">
            <img src="{% static "img/logo.png" %}">
            <h2>Pick, Pack and Deliver !</h2>
            <h4>
              Now schedule a pickup  via call/whatsapp/android           
            </h4>
            <span class="com-span"><i class="mdi-communication-call mat-icon"></i> + 91-97-11-031164</span>
              <a href="tel:+91-97-11-031164" class="btn btn-default btn-com "><i class="mdi-communication-call mat-icon"></i> +91-97-11-031164</a>
            <a href="https://play.google.com/store/apps/details?id=app.www.pickrr.com.pickrr" style="padding-left:1em;">
              <img alt="Get it on Google Play"
                  src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
            </a>
          </div>
        </div>
        <div class="col-md-7" data-position="side" id="pickrr-panel">
          <div class="panel panel-main panel-ajax shadow-z-2">
            <div class="panel-heading">
              <h3 class="panel-title">Tell us about your Shipment</h3>
            </div>
            <div class="panel-body">
              {% load widget_tweaks %}
              <form action="{% url 'pickup:home_pickrr' %}" class="form-horizontal form-ajax" method="post">{% csrf_token %}
                {% for field in pickupform %}
                {% if field.errors %}
                <div class="form-group has-error">
                  <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-8">
                    {{ field| add_class:"form-control" }}
                    <span class="help-block">
                      {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                  </div>
                </div>
                {% else %}
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-8">
                    {{ field| add_class:"form-control" }}
                    {% if field.help_text %}
                    <p class="help-block"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-primary btn-raised">Schedule a Pickup <i class="mdi-navigation-chevron-right mat-icon"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more-trig" data-target="#how-work">
    <h3>Know How ?</h3>
    <i class="mdi-navigation-expand-more mat-icon"></i>
  </div>
</section>
<section id="how-work">
  <div class="content-holder">
    <div class="pickrr-holder">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 pickrr-tell">
            <h2>What you have to do !</h2>
            <div class="pickrr-sub shadow-z-1">
              <i class="flaticon-delivery37 flaticon"></i>
              <h4>Schedule</h4>
              <p>
                Schedule a hassle free Pickup in just few clicks through our website or via WhatsApp
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="separator"></div>
          </div>
          <div class="pickrr-tell">
            <h2>What we will do !</h2>
            <div class="col-md-4">
              <div class="pickrr-sub shadow-z-1">
                <i class="flaticon-cape1 flaticon"></i>
                <h4>Pick</h4>
                <p>
                  Your Pickrr will be at your doorsteps in just 60 minutes or as per your convenience.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pickrr-sub shadow-z-1">
                <i class="flaticon-cardboard12 flaticon"></i>
                <h4>Pack</h4>
                <p>
                  Parcel will be packed by your Pickrr using the best-in-class material for free.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pickrr-sub shadow-z-1">
                <i class="flaticon-flying flaticon"></i>
                <h4>Deliver</h4>
                <p>
                  Your Pickrr will ensure the delivery of parcel using the most efficient shipping mode.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

{% endblock body %}

