<div class="panel-heading">
    <h3 class="panel-title">Shipping Summary</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="loc-card shadow-z-1 col-sm-4">
                <i class="mdi-maps-my-location mat-icon"></i>
                {{ from_city.name }}
            </div>
            <div class="col-sm-4 hidden-xs">
                <hr>
                <i class="mdi-device-airplanemode-on"></i>
            </div>
            <div class="loc-card shadow-z-1 col-sm-4">
                <i class="mdi-maps-pin-drop mat-icon"></i>
                {{to_city.name}}
            </div>
        </div>
    </div>
    <h3>Choose Delivery Option</h3>
    <br>
    <form class="form-horizontal form-ajax" method="POST" action="{% url 'pickup:select_service' %}">
        {% csrf_token %}
        {% if service_type == "Intracity" %}
        {% for service in services %}
        <div class="radio radio-success {% if service.service_name == 'Rush'  %}radio-rush{% endif %}">
            <label>
                <input type="radio" name="service_type" value="{{ service.pk }}" {% if service.service_name == 'Rush'  %}checked{% endif %}>
                <span class="circle"></span>
                <span class="check"></span>
                <div class="service-card">
                    <strong>{{ service.service_name }}</strong> 
                    <p class="main-pricing">- Rs. {{service.base_price}} for {{service.base_weight}} Kg</p>
                    <p class="pricing">
                        <i>Rs {{service.add_price}} per extra {{service.base_weight}} Kg</i>
                    </p>
                </div>
            </label>
            <div class="time-to">
                <i class="mdi-action-schedule mat-icon"></i>
                {% if service.service_name == 'Rush'  %}
                    Within {{service.max_service_duration}} minutes
                {% endif %}
                {% if service.service_name == 'Premium' %}
                    Within {{service.min_service_duration}} - {{service.max_service_duration}} hours
                {% endif %}
                {% if service.service_name == 'Standard' %}
                    Within {{service.max_service_duration}} hours
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% for service in services %}
        <div class="radio radio-success">
             <label>
                <input type="radio" name="service_type" value="{{ service.pk }}" {% if service.service_name == 'Rush'  %}checked{% endif %}>
                <span class="circle"></span>
                <span class="check"></span>
                <div class="service-card">
                    <strong>{{ service.service_name }}</strong> 
                    <p class="main-pricing">- Rs. {{service.base_price}} for {{service.base_weight}} Kg</p>
                    <p class="pricing">
                        <i>Rs {{service.add_price}} per extra {{service.base_weight}} Kg</i>
                    </p>
                </div>
            </label>
            <div class="time-to">
                <i class="mdi-action-schedule mat-icon"></i>
                {% if service.service_name == 'Rush'  %}
                    Within {{service.min_service_duration}} - {{service.max_service_duration}} Days
                {% endif %}
                {% if service.service_name == 'Premium' %}
                    Within {{service.min_service_duration}} - {{service.max_service_duration}} days
                {% endif %}
                {% if service.service_name == 'Standard' %}
                    Within {{service.min_service_duration}} - {{service.max_service_duration}} days
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary btn-raised">Proceed to Checkout</button>
    </form>
</div>
