<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta http-equiv="Content-Language" content="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
	<title>
		{% block title %}Pickrr | Reinventing your shipping experience{% endblock title%}
	</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style type="text/css">
		@font-face{
			font-family: Basawa;
			src:url({% static "fonts/B39MHR.ttf" %});
		}
		.barcode{
			font-family: Basawa;
			font-size: 72px;
		}
	</style>

</head>
<body>
	<div class="container">
		<div class="row">
			{% if response_data.IsError = True %}
			<h3>You have an error. Have a look</h3>
			<p>
				{{ response_data}}
			</p>
			{% else %}
			<table class="table" style="margin-top: 1em;">
				<tbody>
					<tr>
						<td style="text-align: center; vertical-align: middle;border-right:0;width:30%;">
							<img src="{% static 'img/logo-f.svg' %}" alt="PICKRR">
						</td>
						<td style="border-left: 0;text-align: right;">
							<h3 style="margin-top: 0;">PICKRR</h3>
							<span>H.No - 2036/A</span><br/>
							<span>Sec-3, Near SRS value Bazaar</span><br/>
							<span>Faridabad - 121004</span><br/>
							<span>Phone no. - +91-9818197991</span>
						</td>
						<td >
							<span>
								<strong>ORDER NO.</strong> - {{ order.order_id }}
							</span><br/>

							<span>
								<strong>INVOICE DATE.</strong> - {{ waybill_data.pickup_date_time | date:"SHORT_DATE_FORMAT" }}
							</span><br/>
							<span>
								<strong>STN</strong> - BKTPG5735NSD001
							</span>
						</td>
						
					</tr>
					<tr>
						<td style="border-right: 0;">
							<h3><strong>DELIVER TO</strong></h3>
							<span>
								{{ order.drop_address.address_line }}
							</span><br/>
							<span>
								{{ order.drop_address.city }}, {{ order.drop_address.state}}
							</span><br/>
							<span>
								{{ order.drop_address.pin_code }} - <strong>{{ response_data.DestinationArea }}/{{ response_data.DestinationLocation }}</strong> 
							</span><br/>
							<span>
								Phone - {{ order.drop_address.phone_number }}
							</span>
						</td>
						<td colspan="2" style="text-align: center; border-left: 0;">
							<h3><strong>
								Order No. -
							</strong></h3>
							<h1 class="barcode">*{{ order.order_id }}*</h1>
						</td>
					</tr>
					<tr>
						<td colspan="3" style="text-align: center;border:0;">
							<h3><strong>
								{% if waybill_data.sub_product_type == 'C' %}
									CASH ON DELIVERY (COD)
								{% else %}
									PREPAID ORDER
								{% endif %}
							</strong></h3>
							<h1 class="barcode">*{{ response_data.AWBNo }}*</h1>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="border:0; text-align: center;">
							{% if waybill_data.sub_product_type == 'C' %}
								<h3>
									<strong>
									AMOUNT TO BE COLLECTED
									</strong>
								</h3>
								<h3>
									Rs. {{ waybill_data.collectable_amount }}
								</h3>
							{% endif %}
						</td>
						<td style="border:0;">
							<span>
								<strong>AWB No.</strong> : {{ response_data.AWBNo }}
							</span><br/>
							<span>
								<strong>Weight</strong> : {{ waybill_data.actual_weight }}
							</span><br/>
							<span>
								<strong>Dimensions</strong> : {{ waybill_data.length }} X {{ waybill_data.width }} X {{ waybill_data.height }}
							</span><br/>
							<span>
								<strong>ORDER Id</strong> : {{ order.order_id }}
							</span><br/>
							<span>
								<strong>Order Date</strong> : {{ waybill_data.pickup_date_time | date:"SHORT_DATE_FORMAT" }}
							</span><br/>
							<span>
								<strong>Pieces</strong> : 1
							</span><br/>
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				This is an electronically generated document, hence does not require signature.
			</p>
			<h4 style="border:2px solid; padding: 4px;">
				<strong>Return Address: </strong>
				PICKRR, H.No - 2036/A, Sec-3, Near SRS value Bazaar, Faridabad – 121004, DEL <br/>
				Phone No. + 91-919818197991
			</h4>
			
			{% endif %}
		</div>
	</div>
</body>