<div class="panel-heading">
	<h3 class="panel-title">Tell us your Pickup Address</h3>
</div>
<div class="panel-body">
	{% load widget_tweaks %}
	<form data-place="main-panel" action="{% url 'orders:checkout_pickup_address' %}" class="form-horizontal form-ajax" method="post">{% csrf_token %}
		{% for field in pickup_add_form %}
		{% if field.errors %}
		<div class="form-group has-error">
			<label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
			<div class="col-sm-9">
				{{ field| add_class:"form-control" }}
				<span class="help-block">
					{% for error in  field.errors %}{{ error }}{% endfor %}
				</span>
			</div>
		</div>
		{% else %}
		<div class="form-group">
			<label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
			<div class="col-sm-9">
				{{ field| add_class:"form-control" }}
				{% if field.help_text %}
				<p class="help-block"><small>{{ field.help_text }}</small></p>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button name="add_pickup" type="submit" class="btn btn-primary btn-raised">Add Pickup Address </button>
			</div>
		</div>
	</form>
	{% if user.pickupaddress_set.all.count != 0 %}
	<form action="{% url 'orders:checkout_pickup_address' %}" class="form-horizontal form-ajax" method="POST">{% csrf_token %}
		{% for pickup_address in user.pickupaddress_set.all %}
		<div class="radio radio-success radio-rush radio-address">
            <label>
                <input type="radio" name="select_pickup" value="{{pickup_address.pk}}" required>
                <span class="circle"></span>
                <span class="check"></span>
                <div class="service-card">
                    <strong>{{pickup_address.name}}</strong> 
                    <p class="main-pricing">- {{pickup_address.city}}, {{pickup_address.state}}</p>
                    <p class="pricing">
                        <i>{{pickup_address.address_line}}</i> - 
                        {{ pickup_address.pin_code }}
                    </p>
                </div>
            </label>
            <div class="time-to">
                <i class="mdi-communication-call mat-icon"></i>
                {{pickup_address.phone_number}}
            </div>
        </div>
		{% endfor %}
		<div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button name="pickup_select" type="submit" class="btn btn-primary btn-raised">Select &amp; Proceed</button>
            </div>
        </div>
	</form>
	{% endif %}
</div>
