<div class="panel-heading">
	<h3 class="panel-title">Tell us your Delivery Address</h3>
</div>
<div class="panel-body">
	{% load widget_tweaks %}
	<form action="{% url 'orders:checkout_delivery_address' %}" class="form-horizontal form-ajax" method="post">{% csrf_token %}
		{% for field in delivery_add_form %}
		{% if field.errors %}
		<div class="form-group has-error">
			<label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
			<div class="col-sm-9">
				{{ field| add_class:"form-control" }}
				<span class="help-block">
					{% for error in  field.errors %}{{ error }}{% endfor %}
				</span>
			</div>
		</div>
		{% else %}
		<div class="form-group">
			<label class="col-sm-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
			<div class="col-sm-9">
				{{ field| add_class:"form-control" }}
				{% if field.help_text %}
				<p class="help-block"><small>{{ field.help_text }}</small></p>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button name="add_delivery" type="submit" class="btn btn-primary btn-raised">Add Address &amp; Place Order</button>
			</div>
		</div>
	</form>
	{% if user.deliveryaddress_set.all.count != 0 %}
	<form action="{% url 'orders:checkout_delivery_address' %}" class="form-horizontal form-ajax" method="POST">{% csrf_token %}
		{% for delivery_address in user.deliveryaddress_set.all %}
		<div class="radio radio-success radio-rush radio-address">
			<label>
				<input type="radio" name="select_delivery" value="{{delivery_address.pk}}" required>
				<span class="circle"></span>
				<span class="check"></span>
				<div class="service-card">
					<strong>{{delivery_address.name}}</strong> 
					<p class="main-pricing">- {{delivery_address.city}}, {{delivery_address.state}}</p>
					<p class="pricing">
						<i>{{delivery_address.address_line}}</i> - 
						{{ delivery_address.pin_code }}
					</p>
				</div>
			</label>
			<div class="time-to">
				<i class="mdi-communication-call mat-icon"></i>
				{{delivery_address.phone_number}}
			</div>
		</div>
		{% endfor %}
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button name="delivery_select" type="submit" class="btn btn-primary btn-raised">Select &amp; Place Order</button>
			</div>
		</div>
	</form>
	{% endif %}

</div>
