<div class="panel-heading">
    <h3 class="panel-title">Checkout Options</h3>
</div>
<div class="panel-body">
    {% load widget_tweaks %}
    <form class="form-ajax" method="POST" action="{% url 'orders:checkout_flow' %}">
        {% csrf_token %}
        <div class="form-control-wrapper">
            {{ user_type_form.email_field|add_class:"form-control empty" }}
            {% if user_type_form.email_field.errors %}
                {% for error in user_type_form.email_field.errors %}
                    <div class="help-block text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div class="floating-label">{{ user_type_form.email_field.label }}</div>
        </div>
        <h3>Proceed as-</h3>
        <div class="form-radio-group">
            {% for field in user_type_form.proceed %}
            <div class="radio radio-primary radio-checkout">
                <label>
                    {{ field.tag }}<span class="circle"></span>
                    <span class="check"></span>
                    {{ field.choice_label }}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button id="btn-checkout" type="submit" class="btn btn-primary btn-raised">Checkout</button>
            </div>
        </div>
    </form>
</div>