Hi {{order.assigned_to.name}}
<br><br>
{% if order.is_cancelled %}
	#{{order.order_id}} order has been <B>cancelled</B> by
{% else %}
	 #{{order.order_id}} order has been placed by
{% endif %}
{% if order.user.name %}
	{{order.user.name}}
{% else %}
	{{order.user.email}}
{% endif %}
{% if order.scheduled_for %}
<br><br>
Order Pickup Scheduled Time : {{order.scheduled_for}}
{% endif %}
{% for item in order.orderitems_set.all %}
<br><br>
Item Details:
	<ul>
		<li>
			{{item}}
		</li>
	</ul>
{% endfor %}
{% if coupon_code %}
<br><br>
<B> Coupon Applied : </B> {{coupon_code}}
{% endif %}
<br><br>
Pickup Address:<br>
{{order.pickup_address.name}}<br>
{{order.pickup_address.phone_number}}<br>
{{order.pickup_address.address_line}}<br>
{{order.pickup_address.city}}<br>
{{order.pickup_address.state}}<br>
{{order.pickup_address.pin_code}}
<br><br>
Drop Address:<br>
{{order.drop_address.name}}<br>
{{order.drop_address.phone_number}}<br>
{{order.drop_address.address_line}}<br>
{{order.drop_address.city}}<br>
{{order.drop_address.state}}<br>
{{order.drop_address.pin_code}}
<br><br>
Service Selected:
<B>
	{% if is_business %}
		{% if order.user.is_premium %}
			Premium Service of Bluedart
		{% else %}
			Non-Premium Service
		{% endif %}
	{% else %}
		{% if order.service_used.service_zone.zone_name == "Intracity" %}
			{{order.service_used.service_name}} | Intracity
		{% else %}
			{{order.service_used.service_name}} | Inter-city
		{% endif %}
	{% endif %}
</B>
<br><br>
{% if is_business %}
	Service Pricing Plan: Check with sales team
{% else %}
	Service Pricing Plan:<br>
	<B>
		Rs {{ order.service_used.base_price }} for first {{ order.service_used.base_weight }} Kg<br>
		Rs {{ order.service_used.add_price }} per additional {{ order.service_used.base_weight }} Kgs
	</B>
	<br><br>
{% endif %}
Please respond to it ASAP
<br>
Regards,<br>
Team Pickrr,<br>
"We Pick, Pack and Deliver"