@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-cape1:before {
	content: "\e000";
}
.flaticon-cardboard12:before {
	content: "\e001";
}
.flaticon-delivery29:before {
	content: "\e002";
}
.flaticon-delivery37:before {
	content: "\e003";
}
.flaticon-flying:before {
	content: "\e004";
}
.flaticon-stopwatch12:before {
	content: "\e005";
}
.flaticon-weight10:before {
	content: "\e006";
}
