<h4>Order Id - <strong>#{{ track_obj.order.order_id }}</strong></h4>
<div class="status-wrap clearfix text-center">
    <div class="col-md-2" style="border-right: 1px solid #009688">
        <h4>Order Status:</h4>
        <i class="mdi-toggle-radio-button-on"></i>
        <span class="status">
            Placed on {{ track_obj.order.placed_at }}
        </span>
    </div>
    <div class="col-md-2 {% if not track_obj.pickup_time %}unactive{% endif %}" style="border-right:1px solid;">
        <h4>Pickup Status:</h4>
        {% if track_obj.pickup_time %}
            <i class="mdi-toggle-radio-button-on"></i>
            <span class="status">
                Picked on {{track_obj.pickup_time}}
            </span>
        {% else %}
            <i class="mdi-image-lens" style="font-size:1em;"></i>
            <span class="status" >
                Not yet Picked Up
            </span>
        {% endif %}
    </div>
    <div class="col-md-2 {% if not track_obj.warehouse_receive_time %}unactive{% endif %}" style="border-right:1px solid;">
        <h4>Warehouse:</h4>
        {% if track_obj.warehouse_receive_time %}
            <i class="mdi-toggle-radio-button-on"></i>
            <span class="status">
                Reached Pickrr Warehouse on {{track_obj.warehouse_receive_time}}
            </span>
        {% else %}
            <i class="mdi-image-lens" style="font-size:1em;"></i>
            <span class="status">
                --NA--
            </span>
        {% endif %}
    </div>
    <div class="col-md-2 {% if not track_obj.in_transit_time %}unactive{% endif %}" style="border-right:1px solid;">
        <h4>Transit Status:</h4>
        {% if track_obj.in_transit_time %}
            <i class="mdi-toggle-radio-button-on"></i>
            <span class="status">
                {% if track_obj.in_transit_status %}
                    {{track_obj.in_transit_status}} from {{track_obj.in_transit_time}}
                {% else %}
                    In Transit at from {{track_obj.in_transit_time}}
                {% endif %}
            </span>
        {% else %}
            <i class="mdi-image-lens" style="font-size:1em;"></i>
            <span class="status">
                --NA--
            </span>
        {% endif %}
    </div>
    <div class="col-md-2 {% if not track_obj.out_delivery_time %}unactive{% endif %}" style="border-right:1px solid;">
        <h4>Delivery Status:</h4>
        {% if track_obj.out_delivery_time %}
            <i class="mdi-toggle-radio-button-on"></i>
            <span class="status">
                Out for Delivery from {{track_obj.out_delivery_time}}
            </span>
        {% else %}
            <i class="mdi-image-lens" style="font-size:1em;"></i>
            <span class="status">
                --NA--
            </span>
        {% endif %}
    </div>
    <div class="col-md-2 {% if not track_obj.delivery_date %}unactive{% endif %}">
        <h4>Final Status:</h4>
        {% if track_obj.delivery_date %}
            <i class="mdi-toggle-radio-button-on"></i>
            <span class="status">
                Successfully Delivered on {{track_obj.delivery_date}}
            </span>
        {% else %}
            <i class="mdi-image-lens" style="font-size:1em;"></i>
            <span class="status">
                --NA--
            </span>
        {% endif %}
    </div>
</div>