<form class="form-horizontal form-ajax" action="{% url 'users:user_login' %}" method="post">{% csrf_token %}
    {% load widget_tweaks %}
    {% for field in loginform %}
    {% if field.errors %}
    <div class="form-group has-error">
        <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="col-sm-8">
            {{ field| add_class:"form-control" }}
            <span class="help-block">
                {% for error in  field.errors %}{{ error }}{% endfor %}
            </span>
        </div>
    </div>
    {% else %}
    <div class="form-group">
        <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="col-sm-8">
            {{ field| add_class:"form-control" }}
            {% if field.help_text %}
            <p class="help-block"><small>{{ field.help_text }}</small></p>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="form-group">
        <div class="pull-right">
            <a class="slick-link" href="{% url 'users:forgot_password' %}" target="_blank">Forgot Password</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary btn-raised">
                Login
            </button>
        </div>
    </div>
</form>
