<div class="panel-heading">
    <h3 class="panel-title">Password Reset Done! -</h3>
</div>
<div class="panel-body">
    <h4>
        <strong>Password reset link has been set to your registered mail ID.</strong>
    </h4>
</div>