Hi
{% if order.user.name %}
	{{order.user.name}}
{% else %}
	{{order.user.email}}
{% endif %},
<br>
{% if order.is_cancelled %}
	Your order <B>#{{order.order_id}}</B> has been successfully cancelled as per your request.We regret of not been able to serve you this time. Looking forward to serve you in near future.
{% else %}
	Thanks for placing the <B>#{{order.order_id}}</B> pickup order!
<br>
<B>Tracking ID: {{track_obj.tracking_id}}</B>
{% if order.scheduled_for %}
<br><br>
Order Pickup Scheduled Time : {{order.scheduled_for}}
{% endif %}
{% for item in order.orderitems_set.all %}
<br><br>
Item Details:
	<ul>
		<li>
			{{item}}
		</li>
	</ul>
{% endfor %}
{% if coupon_code %}
<br><br>
<B> Coupon Applied : </B> {{coupon_code}}
{% endif %}
<br><br>
Following Pickrr will pickup your shipment:
<br>
{{order.assigned_to.name}}
<br>
{{order.assigned_to.phone_number}}
<br>
{{order.assigned_to.email_id}}
<br><br>
Order Details:
<br>
Pickup Address:<br>
{{order.pickup_address.name}}<br>
{{order.pickup_address.phone_number}}<br>
{{order.pickup_address.address_line}}<br>
{{order.pickup_address.city}}<br>
{{order.pickup_address.state}}<br>
{{order.pickup_address.pin_code}}
<br><br>
Delivery Address:<br>
{{order.drop_address.name}}<br>
{{order.drop_address.phone_number}}<br>
{{order.drop_address.address_line}}<br>
{{order.drop_address.city}}<br>
{{order.drop_address.state}}<br>
{{order.drop_address.pin_code}}
<br><br>
Service Selected:
<B>
	{% if order.service_used.service_zone.zone_name == "Intracity" %}
		{{order.service_used.service_name}} | Intracity
	{% else %}
		{{order.service_used.service_name}} | Inter-city
	{% endif %}
</B>
<br><br>
Service Pricing Plan:<br>
<B>
	Rs {{ order.service_used.base_price }} for first {{ order.service_used.base_weight }} Kg<br>
	Rs {{ order.service_used.add_price }} per additional {{ order.service_used.base_weight }} Kgs
</B>
{% endif %}
<br><br>
Your feedback about our service is most welcomed. For any query, feel free to reach us out at +91-9818197991
<br><br>
Thanks,<br>
Team, Pickrr<br>
"We Pick, Pack and Deliver"