{% for order in bookings %}
{{order.pickup_address.city}} - {{order.drop_address.city}}
<br>
{{order.service_used.service_name}}
<br>
Placed On: {{order.placed_at}}
<br>
{% if order.invoice_sent %}
	Bill: Rs {{order.total_bill}}
{% else %}
	In Process
{% endif %} 
<br>
Pickrr Assigned: {{order.assigned_to.name}} | {{order.assigned_to.phone_number}}
<br><br>
{% endfor %}