{% if user_obj.name %}
	Hi {{user_obj.name}},
{% else %}
	Hi {{user_obj.email}},
{% endif %}
<br><br>
Click on the following to retrieve your password:<br>
{{set_link}}
<br><br>
Regards,
<br>
Team, Pickrr<br>
"We Pick, Pack and Deliver"