{% extends "__base.html" %}
{% block body %}
<div class="content-padder">
  <ul class="nav nav-tabs pickrr-tab">
    <li class="active">
      <a href="#home" data-toggle="tab" aria-expanded="true">Orders</a>
    </li>
    <li class="">
      <a href="#profile" data-toggle="tab" aria-expanded="false">Addresses</a>
    </li>
  </ul>
  <div class="action-btn">
    <a href="{% url 'pickup:home_pickrr' %}" class="btn btn-fab btn-raised btn-dafault" data-toggle="tooltip" data-placement="left" title="Schedule a new Pickup">
      <i class="mdi-content-add"></i>
    </a>
  </div>
  <div id="myTabContent" class="tab-content pickrr-tab-content clearfix shadow-z-2">
    <div style="" class="tab-pane fade active in" id="home">
      <h3 style="margin-top:0;color:#009688">Your order History</h3>
      {% for order in orders %}
      <div class="col-md-12">
        <div class="order-wrapper shadow-z-1">
          <div class="order-his">
            <div class="order-detail">
             Order -  <strong>#{{ order.order_id }}</strong>
           </div>
           <div class="order-detail">
             Tracking Id -  <strong>#{{ order.status.tracking_id }}</strong>
           </div>
           <div class="order-money">
             {% if order.invoice_sent %}
             <i class="mdi-action-receipt"></i> Rs {{order.total_bill}}
             {% else %}
             In Process
             {% endif %}
           </div>
         </div>

         <div class="order-dir">
          <span>{{ order.pickup_address.city |lower|capfirst }}</span>
          to
          <span>{{ order.drop_address.city |lower|capfirst }}</span>
        </div>
        <div class="track-dir">
            <button ajax-href="{% url 'track:show_tracking' order.status.key order.status.pk %}" data-loading-text="Tracking" class="btn btn-default btn-raised btn-sm btn-track">
              Track Package 
            </button>
            <div class="track-data">
              
            </div>
          </div>
        <div class="order-time">
         <i class="mdi-action-event"></i> {{ order.placed_at|timesince }} ago
       </div>
     </div>
   </div>
   {% endfor %}
 </div>

 <div class="tab-pane fade" id="profile">
  <h3 style="margin-top:0px;color:#009688;">Your Address store</h3>
  <div class="col-md-6">
    <h4>Pickup Addresses</h4>
    <div class="list-group">
      {% for pickup_address in pickup_list %}
      <div class="list-group-item list-address">
        <div class="list-group-item-heading">
          {{ pickup_address.name }} - <span class="tel">{{ pickup_address.phone_number }}</span>
        </div>
        <div class="list-group-item-text">
          {{ pickup_address.address_line }}, 
          {{ pickup_address.city }}, {{ pickup_address.state }}
          <span class="pin">{{ pickup_address.pin_code }}</span>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <h4>Delivery Addresses</h4>
    <div class="list-group">
      {% for delivery_address in drop_list %}
      <div class="list-group-item list-address">
        <div class="list-group-item-heading">
          {{ delivery_address.name }} - <span class="tel">{{ delivery_address.phone_number }}</span>
        </div>
        <div class="list-group-item-text">
          {{ delivery_address.address_line }}, 
          {{ delivery_address.city }}, {{ delivery_address.state }}
          <span class="pin">{{ delivery_address.pin_code }}</span>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>  
</div>


{% endblock body %}