{% extends "__base.html" %}
{% block body %}
<section id="landing">
  <div class="content-holder">
    <div class="col-md-12" data-position="center" id="pickrr-panel">
      <div class="panel panel-main panel-ajax shadow-z-2">
        <div class="panel-heading">
          <h3 class="panel-title">Change Password</h3>
        </div>
        <div class="panel-body">
          {% load widget_tweaks %}
          <form class="form-horizontal" method="post">{% csrf_token %}
            {% for field in change_password_form %}
            {% if field.errors %}
            <div class="form-group has-error">
              <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
              <div class="col-sm-8">
                {{ field| add_class:"form-control" }}
                <span class="help-block">
                  {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
              </div>
            </div>
            {% else %}
            <div class="form-group">
              <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
              <div class="col-sm-8">
                {{ field| add_class:"form-control" }}
                {% if field.help_text %}
                <p class="help-block"><small>{{ field.help_text }}</small></p>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary btn-raised">
                  Change Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}