Hi {{user_obj.name}},
<br><br>
Welcome to Pickrr!<br>
Thanks for believing in us by registering on our mobile app. We also have a website located at http://www.pickrr.com where you can login using the following details:
<br><br>
Registered Email ID: {{user_obj.email}}
<br>
Password: {{password}}
<br>
<br>
Happy Shipping,
<br>
Team@Pickrr,
<br>
info@pickrr.com