<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    {% block meta_tags %}{% endblock meta_tags %}
    <title>
        {% block title %}Pickrr | Reinventing your shipping experience{% endblock title%}
    </title>
    <meta name="description" content="Pickrr is an on-demand first mile logistics company started by IIT and ISB alumni that is completely revolutionizing the way a consumer ships a product from one point to another. Now with Pickrr, we will take care of all the hassles of picking up the product, packing and shipping anything anywhere around the globe in just a few clicks and at unbeatable prices." />
    <meta name="keywords" content="send courier online, fast, free pickup, free packaging, reliable, cheap courier, courier on demand, shipping, india shipping, packing and shipping services , shipping services , same day shipping , courier service , courier service in india, India delivery service, shipping companies in india, ondemand delivery app, Anything, Anywhere" />
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/pickrr.css" %}">
    {% endblock stylesheets %}
    {% block extra_head %}{% endblock extra_head%}
</head>
<body>
    {% include "_navbar.html" %}
    {% block body %}

    {% endblock body %}
    <div id="loading-resource" class="hidden">
        <div class="loading">
            <span class="shadow-z-2">
                <i class="rotating mdi-navigation-refresh mat-icon"></i> 
                Loading
            </span>
        </div>
    </div>
    {% block javascript %}
    <!-- Loading Vendor Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.js"></script>
    <script type="text/javascript">
    //Intializing bootstrap-material-design
    $.material.init();
</script>
<!-- Loading Pickrr Custom Javascript -->
<script src="{% static "js/pickrr.js" %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        AjaxControl.init();
        Dropdown.init();
        LandControl.init();
        $("[data-toggle=tooltip]").tooltip();
    });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66657269-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock javascript%}
</body>
</html>