{% load static %}
<div id="price-calculator" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Price Calculator</h4>
      </div>
      <div class="modal-body">
      <div class="panel-ajax" data-state="unloaded" data-url="{% url 'externalpriceapi:calculate_price' %}">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tracking" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Track Your Order</h4>
      </div>
      <div class="modal-body">
      <div class="panel-ajax" data-state="unloaded" data-url="{% url 'track:search_tracking' %}">
        </div>
      </div>
    </div>
  </div>
</div>
{% if not request.user.is_authenticated %}
<div id="login-form" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="panel-ajax" data-state="unloaded" data-url="{% url 'users:user_login' %}">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="signup-form" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <div class="panel-ajax" data-state="unloaded" data-url="{% url 'users:user_signup' %}">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'pickup:home_pickrr' %}">
        <img src="{% static "img/logo.png" %}">
      </a>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="" data-toggle="modal" data-target="#tracking">Tracking</a>
        </li>
        <li>
          <a href="" data-toggle="modal" data-target="#price-calculator">Price Calculator</a>
        </li>
        <li >
          <a href="{% url "faq" %}" target="_blank">FAQs</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.email|truncatechars:15 }} &#9660;</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'users:user_account' %}">Account</a></li>
            <li><a href="{% url 'users:user_change_password' %}" target="_blank">Change Password</a></li>
            <li><a href="{% url 'users:user_account_edit' %}" target="_blank">Edit Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'users:user_logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="#login" data-toggle="modal" data-target="#login-form">Login</a>
        </li>
        <li>
          <a href="#signup" data-toggle="modal" data-target="#signup-form">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div id="phone-call" class="call-div">
    <a href="tel:+91-97-11-031164">
      <i class="mdi-communication-call mat-icon"></i>
    </a>
  </div>
</nav>