<!DOCTYPE html>
<html>
<head>
    {% block meta_tags %}{% endblock meta_tags %}
    <title>
        {% block title %}Pickrr &amp; Shippers{% endblock title%}
    </title>
    {% load static %}
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/pickrr.css" %}">
    {% endblock stylesheets %}
    {% block extra_head %}{% endblock extra_head%}
</head>
<body>
    {% block body %}
    <div class="jumbotron" style="background-color:transparent;color: #ecf0f1;font-family: 'Lobster', cursive;">
        <h1>Pickrr</h1>
        <p>We are working on picking and shipping right now. Work is under process.</p>
    </div>
    {% endblock body %}
    {% block javascript %}
    <!-- Loading Vendor Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    <script type="text/javascript">
    //Intializing bootstrap-material-design
    $.material.init();
</script>
<!-- Loading Pickrr Custom Javascript -->
<script src="{% static "js/pickrr.js" %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        AjaxControl.init();
    });
</script>
{% endblock javascript%}
</body>
</html>